.box {
  border: 1px solid black;
  border-radius: 15px;
  min-height: 280px;
  transition: all 250ms linear;
  cursor: pointer;
  padding: 10px;
}

.box:hover {
  border: 1px solid transparent;
  scale: 1.03;
  box-shadow: -1px 0px 15px -1px #7ca0c1;
}